.outer-container {
  margin: 46px;
  display: flex;
  justify-content: space-between;
}

.form-container {
  width: 70%;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.user-data {
  width: 28%;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 36px;
}

.user-data p {
  font-weight: bold;
  margin-bottom: 10px;
}

.posts-container {
  margin-bottom: 20px;
}

.post {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.post p {
  font-size: 1rem;
  color: #333;
}

.back-link {
  color: rgb(84, 110, 45);
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.add-post-button {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-post-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  color: #007bff;
}

.btns {
  display: flex;
  height: 32px;
}

.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: ease 0.3s;
  text-decoration: none;
}

.editBtn {
  background: #0056b3;
  color: white;
}

.editBtn:hover {
  background: #003f80;
}

.deleteBtn {
  background: #dc3545;
  color: white;
  margin-left: 10px;
}

.deleteBtn:hover {
  background: #c82333;
}
